@font-face {
  font-family: "iconfont"; /* Project id 1777855 */
  src: url('iconfont.woff2?t=1634293132143') format('woff2'),
       url('iconfont.woff?t=1634293132143') format('woff'),
       url('iconfont.ttf?t=1634293132143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongengduo:before {
  content: "\e615";
}

.iconbianji:before {
  content: "\e626";
}

.icon-saoma:before {
  content: "\e611";
}

.icon-diaobaos:before {
  content: "\e64d";
}

.icon-search_dele:before {
  content: "\e63a";
}

.icon-search:before {
  content: "\e63e";
}

.icon-amount_add:before {
  content: "\e64a";
}

.icon-amount_sub:before {
  content: "\e649";
}

.icon-add:before {
  content: "\e633";
}

.icon-delete:before {
  content: "\e635";
}

.icon-photo-up:before {
  content: "\e63c";
}

.icon-select:before {
  content: "\e61b";
}

.icon-unselect:before {
  content: "\e61d";
}

.icon-jianhao:before {
  content: "\e797";
}

.icon-jiahao:before {
  content: "\e798";
}

.icon-fujin:before {
  content: "\e628";
}

.icon-arrowbottom:before {
  content: "\e6aa";
}

.icon-daohang:before {
  content: "\e65c";
}

.icon-paixu:before {
  content: "\e61c";
}

.icon-zhengque:before {
  content: "\e796";
}

.icon-Type-Cshuru:before {
  content: "\e601";
}

.icon-Group-:before {
  content: "\e688";
}

.icon-USB:before {
  content: "\e609";
}

.icon-xiangqing:before {
  content: "\e619";
}

.icon-huidaodingbu:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-tishi:before {
  content: "\e604";
}

.icon-zhankai:before {
  content: "\e605";
}

.icon-jiajianzujianjiahao:before {
  content: "\e606";
}

.icon-jiajian-:before {
  content: "\e607";
}

.icon-tishi1:before {
  content: "\e608";
}

.icon-rili:before {
  content: "\e60a";
}

.icon-cha:before {
  content: "\e60b";
}

.icon-tishi2:before {
  content: "\e60c";
}

.icon-gou:before {
  content: "\e60d";
}

.icon-paixu1:before {
  content: "\e60e";
}

.icon-paixu2:before {
  content: "\e60f";
}

.icon-riqi:before {
  content: "\e610";
}

.icon-peizhi:before {
  content: "\e612";
}

.icon-beizhu-:before {
  content: "\e613";
}

.icon-jiucuo:before {
  content: "\e614";
}

.icon-tishi3:before {
  content: "\e616";
}

.icon-shanchu:before {
  content: "\e617";
}

.icon-shanchu1:before {
  content: "\e618";
}

.icon-tuichu:before {
  content: "\e61a";
}

.icon-gengduo:before {
  content: "\e63b";
}

